material
pergola/login/resources/img/android-chrome-192x192.png
pergola/login/resources/img/android-chrome-512x512.png
pergola/login/resources/img/apple-touch-icon.png
pergola/login/resources/img/browserconfig.xml
pergola/login/resources/img/favicon-16x16.png
pergola/login/resources/img/favicon-32x32.png
pergola/login/resources/img/favicon.ico
pergola/login/resources/img/mstile-144x144.png
pergola/login/resources/img/mstile-150x150.png
pergola/login/resources/img/mstile-310x150.png
pergola/login/resources/img/mstile-310x310.png
pergola/login/resources/img/mstile-70x70.png
pergola/login/resources/img/safari-pinned-tab.svg