/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/oswald-regular-subset.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/oswald-regular-subset.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/oswald-regular-subset.woff2') format('woff2'), /* Super modern browsers */
  url('../fonts/oswald-regular-subset.woff') format('woff'), /* Modern browsers */
  url('../fonts/oswald-regular-subset.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/oswald-regular-subset.svg#Oswald') format('svg'); /* Legacy iOS */
}

// Base
//
//

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}


hr.style0 {
  max-width: 25px;
  border: 2px solid white;
  height: 0;
  border-radius: 4px;
}

.MuiFilledInput-root {
  background-color: rgba(255,255,255,0.8) !important;
}

.MuiTypography-root.MuiTypography-h2.page-title {

  text-align: center;
  font-family: Oswald, serif;
  font-size: 1.5em;

}
